NEXT_PUBLIC_SITE_URL=https://seqservices.com.au
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_SEARCH_CONSOLE=verification_token_here
NEXT_PUBLIC_API_BASE_URL=https://api.seqservices.com.au
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LdbunMtAAAAALnNzCAgKO3HxE8NLttknlaLxz12
